<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IDCardManagement.Properties.Settings.ApplicantConnectionString"
            connectionString="Data Source=&quot;C:\Users\Archie\Documents\Visual Studio 11\Projects\AdmissionTestMVC\AdmissionTestMVC\App_Data\Applicant.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="IDCardManagement.Properties.Settings.ApplicantConnectionString1"
            connectionString="Data Source=|DataDirectory|\Applicant.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>